@model NorthwindOrdersEntity.ViewModels.OrderPocViewModel

@using NorthwindOrdersEntity.Help

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>訂單明細</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustomerID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmployeeID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShipName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink(DescriptionHelper.txtEdit, "Edit", new { oid = Model.OrderID, pid = Model.ProductID }) |
        @Html.ActionLink(DescriptionHelper.txtBackToPreviousPage, "Index", new { page = TempData["CurrentPage"] })
    </p>
</body>
</html>
